@media (max-width: 1140px) {
  .header-left > a {
    display: none;
  }
  .header-right > a {
    display: none;
  }
}

@media (min-width: 1140px) {
  nav {
    display: none;
  }
  .menu-icon {
    display: none;
  }
}

a {
  color: black;
}

header {
  z-index: 2;
  max-width: 1440px;
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  height: 72px;
  background-color: white;
}

.header-nav {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 20px;
}

.header-left > a,
.header-right > a {
  padding: 0 10px;
  cursor: pointer;
  font-size: 0.9rem;
}

.logo {
  object-fit: contain;
  cursor: pointer;
}

nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: hidden;
  transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
}

.nav-links {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.9, 0, 0.33, 1);
}

.nav-links.fade-in {
  opacity: 1;
  transform: translateX(-10px);
  background-color: white;
}

.link {
  margin: 20px 0;
  text-decoration: none;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: all 500ms cubic-bezier(0.9, 0, 0.33, 1);
  cursor: pointer;
}

.menu-icon {
  padding: 0;
  width: 25px;
  cursor: pointer;
  z-index: 2;
}

.login {
  color: black;
}
