@font-face {
  font-family: 'JejuMyoungjo';
  src: url('../assets/fonts/JejuMyeongjo.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'JejuMyoungjo';
  list-style: none;
  text-decoration: none;
}
