@media (max-width: 540px) {
  main {
    margin: 10%;
    margin-bottom: 0;
    flex-direction: column;
  }
  .landing-explain {
    padding: 0;
    margin-bottom: 40px;
  }
  .landing-explain-title {
    display: none;
  }
  .landing-box,
  .landing-box-reverse {
    margin-bottom: 40px;
  }
}

@media (max-width: 1140px) {
  main {
    margin: 10%;
  }
  .host-image {
    width: 100%;
  }
  .landing-box {
    flex-direction: column;
  }
  .landing-box-reverse {
    flex-direction: column-reverse;
  }
}

* {
  margin: 0 auto;
}

main {
  max-width: 1140px;
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
}

.landing-explain {
  width: 30%;
  padding: 40px;
}

.landing-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-box-reverse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.host-image {
  margin-bottom: 10px;
  width: 100%;
  max-width: 270px;
  max-height: 180px;
  object-fit: contain;
}

.host-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.host-text > p {
  font-weight: "750";
}

.main-btn {
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  color: black;
}

.dadok::before {
  background-color: #ffffff;
  content: "";
  display: inline-block;
  height: 10px;
}
